<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <queries><intent><action android:name="android.intent.action.TTS_SERVICE" /></intent></queries>
    <application>
        <provider android:name="art.lazying.clearpair.audio.RecordingFileProvider"
            android:authorities="${applicationId}.clearpair.recordings"
            android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/clearpair_recording_paths" />
        </provider>
    </application>
</manifest>
