<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="art.lazying.clearpair.qa.model" android:versionCode="1" android:versionName="1.0">
  <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="35" />
  <!-- No Internet, microphone, storage, service or background permissions. -->
  <application android:label="ClearPair Offline QA" android:theme="@android:style/Theme.Material.Light.NoActionBar" android:allowBackup="false" android:debuggable="true">
    <activity android:name=".ModelActivity" android:exported="true">
      <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
    </activity>
  </application>
</manifest>
